body {
    padding: 20px;
}

img {
    width: 80px;
    margin-bottom: 20px;
}

.section {
    padding: 0;
}

img+a {
    vertical-align: top;
}

img>a {
    color: greenyellow;
}

nav a {
    padding: 2px 4px;
}